@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");
:root {
  --font-inter: "Inter", sans-serif;
  --yellow: #fff200;
  --white: #f5f5f5;
  --grey: #d6e6f2;
  --black: #000000;
  --font-fira: "Fira Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-inter);
  background-color: var(--white);
  color: var(--black);
}

.header-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20px;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.header-navbar .nav-list {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow);
  margin-left: 10px;
  font-style: italic;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.header-navbar .nav-list li {
  display: inline-block;
  margin: 10px 1.5rem;
}
.nav-text {
  color: var(--white);
  font-family: var(--font-fira);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-text:hover {
  color: var(--yellow);
  transition: color 0.5s ease;
}

.social-part {
  display: none;
}

.logo {
  display: none;
}

.button-part {
  display: flex;
  align-items: center;
}

.content-btn {
  margin: 0;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 650;
  font-style: italic;
  background-color: var(--yellow);
  border: none;
  color: var(--black);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content-btn:hover {
  background-color: var(--grey);
}

@media (max-width: 768px) {
  .header-navbar .nav-list {
    display: none;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 10.5%;
    right: 0;
    border-bottom: 1px solid white;
    z-index:4;
    background-color: var(--black);
    width: 100%; /* Adjust width to fit screen */
    transition: all 0.5s ease;
  }

  .header-navbar .nav-list.show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px;
  }
  #social,
  .social-part {
    display: block;
  }

  .social-part a {
    color: white;

    font-size: 28px;
    padding: 0 10px;
    transition: all 0.3s;
  }
  .social-part a:hover {
    color: var(--yellow);
  }

  .header-navbar .nav-list li {
    margin: 1rem 1.5rem;
    width: 90%;
  }
  .logo-and-button {
    display: block;
  }
  .logo {
    display: block;
    font-size: 24px;
    color: var(--yellow);
    justify-content: flex-end;
    text-align: center;
    transition: all 0.3s;
  }
  .logo:hover {
    color: var(--grey);
    transition: color 0.5s ease;
  }
}